/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}
header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 20px 10px;
}
.logo{
    height: 30px;
    width: auto;
}
header, footer{
    padding: 20px 10px;
}
nav a {
   margin-left: 30px;
  color: inherit;
  text-decoration: none;
  font-weight: 600;
  padding-top: 32px; 
  padding-bottom: 10px;
  border-top: 2px solid transparent;
  transition: color .18s ease, border-top-color .18s ease;
}
.link:hover{
    color: #0065FC;
    border-top-color: #0065FC;
}
.form-title{
    margin-bottom: 0px;
    font-size: 28px;
    font-weight: 700;
}
.form-p{
    margin-top: 10px;
    margin-bottom: 20px;
}
.search-form{
    display: flex;
    align-items: center;
    background-color:  #fff;
    border: 1px solid #f2f2f2;
    border-radius: 15px;
    overflow: hidden;
    width: fit-content;
}
.search-icon {
  background-color: #F2F2F2;
  padding: 14px 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  font-size: 18px;
}
.search-input {
  border: none;
  padding: 14px 18px;
  font-size: 16px;
  font-weight: 500;
  width: 220px;
  outline: none;
   background: transparent;
}
.search-input::placeholder { 
    color: rgba(0,0,0,0.6); 
}
.search-button {
  background-color: #0065FC;
  color: #fff;
  border: none;
  padding: 14px 22px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  transition: background-color .2s;
}
.search-button:hover { 
    background-color: #0051c7; 
}
/****** section filtre ***********/
.filters-div{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}
.filter-buttons{
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
}
.filter{
    background-color: white;
    border: 2px solid #F2F2F2;
    border-radius: 25px;
  padding: 10px 20px;
  font-weight: 500;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 8px;
  transition: background-color 0.22s, color 0.22s, transform .12s;
}
/* Couleur au survol */
.filter:hover {
  background-color: #DEEBFF;
  color: #0065FC;
}
/* Icônes à gauche du texte */
.filter i {
  color: #0065FC;
}
.fa-border{
    border-radius: 50%;
    width: 22px;
    height: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* Texte d’information */
.info {
  margin-top: 10px;
  font-size: 14px;
  color: #333;
  display: flex;
  align-items: center;
}
.info i {
  color: #0065FC;
  margin-right: 5px;
}
:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}
.fa-solid {
    color: var(--main-color);
}
/* Exception : icône de localisation dans le formulaire */
.search-icon .fa-solid {
  color: #000 !important; /* Forcer la couleur noire */
}
body {
    display: flex;
    justify-content: center;
}
.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}
a {
    color: inherit;
    text-decoration: none;
}
.section-title {
    margin: 0;
    font-size: 22px;
}
.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}
.card img {
    object-fit: cover;
}
.card-title {
    font-size: 16px;
}
.euro {
    font-weight: 700;
}
.neutral-star {
    color: var(--main-bg-color)
}
/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}
.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}
/****** Hebergements ***********/
.hebergements {
    width: 65%;
}
.hebergements h2{
    margin-bottom: 20px;
}
.card-hebergements{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.card-hebergement{
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    text-decoration: none;
    color: black;
    width: 30%;
    transition: transform 0.3s;
    margin-bottom: 30px;
}
.card-hebergement:hover {
  transform: scale(1.02); /* Zoom léger quand on survole */
}
.card-hebergement img {
  width: 100%;               /* L’image prend toute la largeur de la carte */
  height: 120px;             /* Hauteur fixe */
  object-fit: cover;         /* Recadre l’image sans la déformer */
}
.card-hebergement div {
  padding: 10px 10px 5px 10px; /* Espace intérieur autour du texte */
}
.card-hebergement h3 {
  font-size: 16px;
  margin: 5px 0;
}
.card-hebergement p {
  font-size: 14px;
  margin: 0;
}
.card-rating {
  color: #0065FC;            /* Étoiles bleues */
  padding: 5px 10px 10px 10px;
}
.neutral-star {
  color: #F2F2F2;            /* Étoiles grises pour les non actives */
}
.afficher-plus {
  display: inline-block;   /* Permet de gérer les marges et effets facilement */
  font-weight: 700;        /* Texte en gras */
  font-size: 16px;         /* Taille moyenne lisible */
  margin-top: 10px;        /* Espace au-dessus du lien */
  color: black;            /* Couleur de base */
  text-decoration: none;   /* Enlève le soulignement par défaut du lien */
  cursor: pointer;         /* Main au survol */
  transition: color 0.3s;  /* Animation douce pour le changement de couleur */
}
.afficher-plus:hover {
  color: #0065FC;          /* Bleu Booki au survol */
}
/****** Populaires ***********/
.populaires {
    width: 32%;
}
.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}
.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}
.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}
.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}
.populaires-cards .card-subtitle {
    margin: 0;
}
.populaires-cards .card-rating {
    margin-bottom: 5px;
}
/****** Activités à Marseille ***********/
/****** Section Activités à Marseille ***********/
.card-activites{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px;
}
/* Chaque carte */
.card-activite{
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    text-decoration: none;
    color: black;
    width: 23%;
    transition: transform 0.3s;

}
/* Effet de zoom au survol */
.card-activite:hover {
  transform: scale(1.03);
}
/* Image de la carte */
.card-activite img{
    width: 100%;
    height: 400px;
    object-fit: cover;
}
/* Titre de l’activité */
.card-activite h3{
    font-size: 16px;
    font-weight: 700;
    padding: 15px;
    margin: 0;
}
/****** Footer ***********/
footer {
  background-color: #F2F2F2;
  padding: 40px 60px;
  margin-top: 50px;
    display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 1440px;
  margin: 0 auto;
}

.footer-column {
  flex: 1;
  min-width: 200px;
}
.footer-column h3 {
  font-size: 1.1rem;
  margin-bottom: 15px;
}
.footer-column ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.footer-column li {
  margin-bottom: 10px;
}
.footer-column a {
  text-decoration: none;
  color: black;
  font-size: 0.95rem;
}
.footer-column a:hover {
  text-decoration: underline;
  color: #0065FC;
}
/* Le code ci-dessous correspond à la version responsive uniquement */
/****** Media queries ***********/
/* Medium devices (tablets) */
@media (min-width: 768px) and (max-width: 1024px) {
    /* FORMULAIRE DE RECHERCHE */
    .search-form {
    width: 100%;
    }
    .search-input {
    width: 100%;
    }
    /* FILTRES */
    .filters-div {
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    }
    .filter-buttons {
    justify-content: flex-start;
    }
    /* HÉBERGEMENTS ET POPULAIRES */
    .hebergements-and-populaires {
    flex-direction: column;
    gap: 20px;
    }
    .hebergements {
    width: 100%;
    }
    .populaires {
    width: 100%;
    margin-top: 50px;
    padding: 20px;
    }
    .populaires-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
    }
    .populaires-cards a {
    width: 30%;
    }
    .populaires-cards .card-title { 
        font-size:14px; 
    }
     .populaires-cards .card-subtitle { 
        font-size:13px; 
    }
    /* ACTIVITÉS */
    .card-activite img {
    height: 250px;
    }
    .hebergements-and-populaires {
        flex-direction: column;
        gap: 20px;
    }
    .hebergements {
        width: 100%;
    }
    .populaires {
        width: 100%;
        margin-top: 50px;
        padding: 20px;
    }
    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 10px;
    }
    .populaires-cards a {
        width: 30%;
    }
    .populaires-cards .card-title {
        font-size: 14px;
    }
    .populaires-cards .card-subtitle {
        font-size: 13px;
    }
    footer{
        padding: 20px;
    }
}
/* Small devices (phones) */
@media (max-width: 768px) {
   .main-container{
    padding: 0px;
  }
  /* HEADER */
  header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 0px;   
  }
  nav {
    display: flex;
    width: 100%;
    justify-content: space-around;
    gap: 10px;
  }
  nav a {
    flex: 1;
    text-align: center;
    border-top: none;
    padding-top: 32px;
    padding-bottom: 10px;
    margin-left: 0px;
    border-bottom: 2px solid transparent; 
    box-sizing: border-box;
  }
  .link:hover{
    border-bottom: 2px solid #0065FC;
    color: #0065FC;
    padding-bottom: 10px;
    margin-left: 0px;
    border-top: transparent;
    padding-top: 32px;
  }
  /* FORMULAIRE */
  .form{
    padding: 20px;
  }
  .search-form {
    flex-direction: row;
    width: 100%;
  }
  .search-input {
    width: 100%;
  }
  .search-button {
    display: none;
  }
  .search-form::after {
    content: "\f002"; /* Loupe Font Awesome */
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    background-color: #0065FC;
    color: white;
    padding: 15px 18px;
    border-radius: 15px;
    margin-left: -10px;
  }
  /* FILTRES */
  .filters{
    padding: 20px;
  }
  .filters-div {
    gap: 10px;
  }

  .filter {
    width: 45%;
    justify-content: center;
  }
  /* HÉBERGEMENTS */
  .hebergements-and-populaires {
    flex-direction: column-reverse;
    gap: 20px;
  }
  .hebergements-and-populaires section{
    background-color: white;
  }
  .card-hebergement {
    width: 100%;
  }
  /* Populaires */
    section.populaires {
    margin-top: 30px;
    background-color: var(--main-bg-color);
    border-radius: 0px;
    }
  .populaires-cards {
    flex-direction: column;
  }
  .populaires-cards a {
    width: 100%;
  }
  /* ACTIVITÉS */
  .activites{
    padding: 20px;
  }
  .card-activites {
    gap: 20px;
  }
  .card-activite {
    width: 100%;
  }
  .card-activite img {
    height: 200px;
  }
  /* FOOTER */
  footer {
    padding: 20px;
    display: flex;
    flex-direction: column;
  } 
}